<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Whatsapp</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div
      class="my-3 py-8 px-8 w-1/2 mx-auto bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:items-center sm:space-x-auto"
    >
      <h1 class="text-7xl text-black font-semibold text-center py-8">
        <u>All Chats</u>
      </h1>
      <form action="/chats/new" method="get">
        <button
          class="px-9 py-1 mx-32 text-sm text-blue-600 font-semibold rounded-full border border-blue-200 hover:text-white hover:bg-blue-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2"
        >
          New Chat
        </button>
      </form>

      <% for(let chat of chats){ %>
      <div
        class="my-3 py-8 px-8 max-w-lg mx-auto bg-white rounded-xl shadow-lg space-y-2 sm:py-4 sm:flex sm:items-center sm:space-x-6"
      >
        <img
          class="block mx-auto h-24 rounded-full sm:mx-0 sm:shrink-0"
          src="https://as2.ftcdn.net/v2/jpg/00/65/77/27/1000_F_65772719_A1UV5kLi5nCEWI0BNLLiFaBPEkUbv5Fv.jpg"
          alt="User"
        />
        <div class="text-center space-y-2 sm:text-left">
          <div class="space-y-0.5">
            <p class="text-lg text-black font-semibold"><%= chat.from %></p>
            <p class="text-slate-500 font-medium"><%= chat.msg %></p>
          </div>

          <div class="flex justify-between">
            <form action="/chats/<%= chat._id %>/edit" method="get">
              <button
                class="px-4 py-1 text-sm text-gray-600 font-semibold rounded-full border border-gray-200 hover:text-white hover:bg-gray-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2"
              >
                Edit
              </button>
            </form>
            &nbsp;&nbsp;
            <form action="/chats/<%= chat._id %>?_method=DELETE" method="post">
              <button
                class="px-4 py-1 text-sm text-red-600 font-semibold rounded-full border border-red-200 hover:text-white hover:bg-red-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2"
              >
                Delete
              </button>
            </form>
            <p class="text-slate-500 font-medium italic px-4">
              Received by <%= chat.to %>
            </p>
          </div>
          <div>
            <%= chat.create_at.toString().split(" ")[4] %> &nbsp
            <%=chat.create_at.toString().split(" ").slice(0,4).join(" ") %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </body>
</html>
